<!DOCTYPE html>
<html>
  <head>
    <title>Members Only</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/handleButtons.js" defer></script>
  </head>
  <body>
    <div class="form-background"></div>
    <div class="login-background"></div>
    <%-include('./partials/_sign-up-form')%>
    <%-include('./partials/_log-in-form')%>
    <div class="container">
      <% if (loggedIn) {%>
        <%- include('./partials/_log-in-header') %>
      <%} else {%>
      <% if (typeof user !== 'undefined') { %>
        <%- include('./partials/_header', {user, errors}) %>
      <% } else { %>
        <%- include('./partials/_header') %>
      <% } %>
      <%}%>
    <main>
      <div class="board-title">Messages</div>
      <div class="message-board">
        ss
      </div>
    </main>
  </div>
  </body>
</html>
