<!DOCTYPE html>
<html>
  <head>
    <title>Members Only</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/handleButtons.js" defer></script>
  </head>
  <body>

    <div class="form-background" tabindex="-1"></div>
    <div class="login-background" tabindex="-1"></div>
    <%-include('./partials/_sign-up-form')%>
    <%-include('./partials/_log-in-form')%>
    <%-include('./partials/_membership')%>
    <div class="container">
      <%if (typeof sign_up_error !== "undefined") {%>
          <%if(sign_up_error) {%>
            <%if (typeof info !== undefined) {%>
              <div class="error-background blur" tabindex="-1"></div>
              <h3 class="error-form fade-in" tabindex="-1">There was an error logging in. <%= info.message%></h3>
              <%}else{%>
            <div class="error-background blur" tabindex="-1"></div>
            <h3 class="error-form fade-in" tabindex="-1">There was an error signing up please see sign-up form for details.</h3>
            <%}%>
            <%}%>
        <%}%>
      <% if (loggedIn) {%>
        <%- include('./partials/_log-in-header', {is_member: loggedIn.is_member}) %>
      <%} else {%>
      <% if (typeof user !== 'undefined') { %>
        <%- include('./partials/_header', {user, errors}) %>
      <% } else { %>
        <%- include('./partials/_header') %>
      <% } %>
      <%}%>
    <main>
      <div class="board-title" tabindex="0">Members Only Message Board</div>
      <div class="message-board" tabindex="0">
        <%if (loggedIn) {%>
          <div class="add-message">
            <button class="add-message-button">Add Message</button>
          </div>
          <%if(loggedIn.is_admin) {%>
            <div class="delete-message">
              <button class="delete-message-button">Delete Message</button>
              <% for (let i = 0; i < messages.length; i++) { %>
                <%- include("./partials/_delete-message", {messages:messages})%>
              <% } %>
            </div>

          <%}%>
        <div class="add-message-form hide">
          <form action="/add-message" method="post" class="message-form">
              <label for="messageTitle">Title:</label>
              <input type="text" name="messageTitle" required= "true">
              <label for="messageText">Message:</label>
              <textarea name="messageText" id="messageText" cols="20" rows="5" style ="resize:none" required ="true"></textarea>
              <div class="message-submit-container">
              <input type="submit" class="message-submit">
              <button class="cancel">Cancel</button>
            </div>
          </form>
        </div>
        <% }%>
        <% for (let i = 0; i < messages.length; i++) { %>
          <%- include('./partials/_message_format.ejs', { message: messages[i], loggedIn }) %>
        <% } %>
      </div>
    </main>
  </div>
  </body>
</html>
